<section class="showcase">
  <video
    id="bgvideo"
    src="assets/videos/bg-evo.mp4"
    [muted]="'muted'"
    loop
    autoplay
  ></video>

  <div class="overlay"></div>

  <div class="hero-txt">
    <h1>la Evolucion De Los Gatos</h1>
  </div>
</section>

<div class="pagebody">
  <p-scrollTop></p-scrollTop>
  <p-divider></p-divider>
  <p>
    <span class="spara">
      El "patrón de gato", establecido muy temprano en la evolución de los
      mamíferos modernos,</span
    >
    fue exitoso: los primeros gatos ya tenían una forma típica en un momento en
    que los antepasados de la mayoría de los otros tipos de mamíferos modernos
    eran apenas reconocibles. Aparecieron por primera vez a principios de la
    Época del Plioceno (hace 5,3 a 3,6 millones de años), y han continuado con
    muy pocos cambios en los tiempos modernos.
  </p>
  <img style="width: 100%" src="assets/cat-evo.jpg" />

  <p-tabView>
    <p-tabPanel header="Domesticación">
      <p>
        <span class="spara"
          >Aunque el origen del gato domesticado está oculto en la
          antigüedad,</span
        >
        los estudios que involucran ADN mitocondrial (ADNmt) sugieren que ha
        habido dos linajes de Felis catus . Un linaje ( F. silvestris silvestris
        ) apareció en Asia Menor posiblemente hace 6.400 años y se dispersó
        hacia el norte y el oeste en Europa. El otro linaje apareció en Egipto
        en algún momento entre 6.400 y 1.000 años antes de extenderse por todo
        el Mediterráneo (posiblemente a través de la introducción humana ) a lo
        largo de caminos paralelos a las rutas comerciales de la región. Los
        gatos de ambos linajes continuaron reproduciéndose con el gato salvaje
        africano ( F. silvestris lybica) durante sus respectivas dispersiones.
      </p>
      <p-card
        header="Ostracón de piedra caliza con un dibujo de un gato que lleva a un niño
        ante un magistrado del ratón"
        subheader="Cortesía del Instituto Oriental de la Universidad de Chicago"
        [style]="{ width: '360px' }"
        styleClass="p-card-shadow"
        class="img-ini"
      >
        <ng-template pTemplate="header">
          <img src="assets/dome1.jpg" />
        </ng-template>
      </p-card>

      <p>
        La asociación más antigua conocida entre gatos y humanos se remonta
        posiblemente a los orígenes de la agricultura en el Medio Oriente , hace
        unos 9.500 años. Un esqueleto de gato que acompaña al de un humano que
        data de esa época fue descubierto en el sur de Chipre . Aunque algunas
        fuentes señalan que este hallazgo sugiere que los gatos habían sufrido
        algún grado de domesticación en ese lugar, otras fuentes (que citan
        evidencia de que el genoma del gato no difirió mucho del del gato
        salvaje africano durante este período) argumentan que los gatos pueden
        haber domesticado ellos mismos eligiendo vivir en paisajes alterados por
        humanos.
      </p>
      <p>
        Aunque el gato fue proclamado un animal sagrado en Egipto en las
        dinastías V y VI (c. 2465-c. 2150 a. C. ), no necesariamente había sido
        domesticado en ese momento. Es probable que ellos antiguos egipcios se
        asociaron con el gato porque se dieron cuenta de su valor para proteger
        los graneros de los roedores.Su afecto y respeto por este depredador
        llevó al desarrollo de cultos religiosos a los gatos y al culto a los
        gatos en los templos . Sin embargo, no existen registros auténticos de
        domesticación anteriores al 1500 a. C.
      </p>
      <p>
        Los gatos se conocen desde hace mucho tiempo en otras culturas. Los
        azulejos de las paredes de Creta que datan de 1600 a. C. representan
        gatos cazadores. La evidencia del arte y la literatura indica que el
        gato estuvo presente en Grecia desde el siglo V a. C. , y que en China
        aparecieron mosaicos con gatos desde el 500 a . C. En la India, los
        gatos se mencionaban en escritos sánscritos alrededor del año 100 a. C.
        , mientras que los árabes y los japoneses no conocieron al gato hasta
        aproximadamente el 600 D . C. El registro más antiguo de gatos en Gran
        Bretaña data de aproximadamente 936CE , cuando Howel Dda, príncipe del
        centro-sur de Gales , promulgó leyes para su protección.
      </p>
      <p>
        Aunque todos los gatos son similares en apariencia, es difícil rastrear
        la ascendencia de un individuo razas . Dado que aparecen marcas de
        atigrado en los dibujos y momias de los gatos del antiguo Egipto, la
        actualidadLos atigrados pueden ser descendientes de los gatos sagrados
        de Egipto.
      </p>
      <div class="flex flex-warp">
        <p-card
          header="Gato Abisinio"
          subheader="Fotografía Chanan"
          [style]="{ width: '360px' }"
          styleClass="p-card-shadow"
          class="img-ini"
        >
          <ng-template pTemplate="header">
            <img alt="Card" src="assets/cat-abisinio.jpg" />
          </ng-template>
          <p>Abisinio, rojo o alazán.</p>
        </p-card>
        <p-card
          header="Gato Momificado"
          subheader="Museo de Ciencias, Londres / Wellcome Collection, Londres (CC BY 4.0)"
          [style]="{ width: '360px' }"
          styleClass="p-card-shadow"
          class="img-ini2"
        >
          <ng-template pTemplate="header">
            <img alt="Card" src="assets/dome2.jpg" />
          </ng-template>
          <p>
            Un gato momificado del antiguo Egipto. El afecto y respeto de los
            egipcios por este depredador llevó al desarrollo religioso de los
            cultos a los gatos y el culto a los gatos en los templos.
          </p>
        </p-card>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Asociaciones con la cultura humana">
      <p>
        <span class="spara"
          >El gato ha jugado un papel en la religión y la brujería.</span
        >
        En la Biblia, "gato" se menciona solo en la Carta apócrifa de Jeremías.
        El gato ocupó un lugar destacado en las religiones de Egipto, los países
        nórdicos y varias partes de Asia. Los egipcios tenían una diosa con
        cabeza de gato llamada Bast (o Bastet). Miles de gatosSe han descubierto
        momias en Egipto, e incluso hubo momias de ratón, presumiblemente para
        proporcionar alimento a los gatos. A menudo, el gato se ha asociado con
        la hechicería y brujería, y las supersticiones con respecto a los gatos
        son innumerables. A lo largo de los tiempos, los gatos han sido
        maltratados con más crueldad que quizás cualquier otro animal. Los gatos
        negros, en particular, han sido considerados durante mucho tiempo como
        poseedores de poderes ocultos y familiares de las brujas.
      </p>
      <p>
        El gato es una figura familiar en las canciones infantiles , los cuentos
        y los refranes. La leyenda inglesa de Dick Whittington y su gato es una
        de las favoritas. Los escritores Théophile Gautier y Charles Baudelaire
        le rindieron homenaje, y en el siglo XX Rudyard Kipling , Colette y TS
        Eliot escribieron sobre gatos, y el compositor británico Sir Andrew
        Lloyd Webber creó la popular producción teatral Cats .
      </p>
      <p-card
        header="Estatua De Bastet"
        subheader="© Kathleen R Grilley / Fotolia"
        [style]="{ width: '360px' }"
        styleClass="p-card-shadow"
        style="overflow: auto"
      >
        <ng-template pTemplate="header">
          <img src="assets/cat-statue.jpg" />
        </ng-template>
        <p>Estatua de gato egipcio que representa a la diosa Bastet.</p>
      </p-card>
    </p-tabPanel>
  </p-tabView>
</div>
