<div class="hero-img">
  <div class="hero-txt">
    <h1>Los Gatos</h1>
  </div>
</div>

<div class="pagebody">
  <p-divider></p-divider>
  <p>
    Gato, ( Felis catus ), también llamado gato doméstico o gato doméstico,
    miembro domesticado de la familia Felidae , orden Carnivora, y el miembro
    más pequeño de esa familia. Los gatos poseen otras características de sus
    parientes salvajes al ser básicamente carnívoros, notablemente ágiles y
    poderosos, y finamente coordinados en sus movimientos.
  </p>
  <img src="assets/cat-2.jpg" />
  <p>
    Una de esas características es de destacar que los antepasados de la otra
    mascota doméstica común, el perro, eran animales sociales que vivían juntos
    en manadas en las que había subordinación a un líder, y el perro ha
    transferido fácilmente su lealtad del líder de la manada al amo humano. El
    gato, sin embargo, no ha cedido tan fácilmente al sometimiento. En
    consecuencia, el gato doméstico puede volver a la autosuficiencia completa
    con mayor rapidez y éxito que la mayoría de los perros domesticados.
  </p>
  <p-button routerLink="evo" label="Evolucion Del Gato"></p-button>
</div>
