<div class="hero-img">
  <div class="hero-txt">
    <h1>Las Caraterísticas Del Gato</h1>
  </div>
</div>

<div class="pagebody">
  <p-divider></p-divider>
  <p>
    El peso promedio del gato doméstico varía de 2.7 a 4.5 kg (6 a 10 libras ),
    aunque, entre los gatos sin pedigrí, los pesos de hasta 12.7 kg (28 libras)
    no son infrecuentes. Las longitudes promedio son 71,1 cm (28 pulgadas) para
    los machos y 50,8 cm (20 pulgadas) para las hembras. De acuerdo con un
    hábito carnívoro , el gato tiene un intestino simple; el intestino delgado
    mide solo aproximadamente tres veces la longitud del cuerpo.
  </p>
  <p>
    La piel del gato, compuesta por dermis y epidermis, se regenera y combate
    las infecciones rápidamente. Los diminutos músculos erectores, unidos a los
    folículos pilosos, permiten que el gato se erice por todas partes. Por lo
    tanto, aunque el gato es un animal relativamente pequeño, puede asustar a
    los enemigos arqueando la espalda, erizándose y silbando. La piel del gato,
    compuesta por dermis y epidermis, se regenera y combate las infecciones
    rápidamente. Los diminutos músculos erectores, unidos a los folículos
    pilosos, permiten que el gato se erice por todas partes. Por lo tanto,
    aunque el gato es un animal relativamente pequeño, puede asustar a los
    enemigos arqueando la espalda, erizándose y silbando.
  </p>
  <p-fieldset legend="Coordinación y musculatura" [toggleable]="true">
    <img class="fs-img" src="assets/cat-musc.jpg" />
    <p>
      Los gatos se encuentran entre los mamíferos carnívoros más altamente
      especializados. Sus cerebros son grandes y están bien desarrollados. Los
      gatos sondigitígrado; es decir, caminan de puntillas. A diferencia del
      perro y el caballo, el gato camina o corre moviendo primero las patas
      delanteras y traseras de un lado, luego las patas delanteras y traseras
      del otro lado; solo el camello y la jirafa se mueven de manera similar. El
      cuerpo del gato tiene una gran elasticidad.
    </p>
    <p>
      Debido a que las vértebras de la columna vertebral se mantienen unidas por
      músculos en lugar de por ligamentos , como en los humanos , el gato puede
      alargar o contraer la espalda, curvarla hacia arriba u oscilarla a lo
      largo de la línea vertebral. La construcción de las articulaciones del
      hombro.permite que el gato gire su pata delantera en casi cualquier
      dirección. Los gatos son animales de construcción poderosa y están tan
      bien coordinados que casi invariablemente aterrizan de pie si se caen o no
      se caen.
    </p>
  </p-fieldset>
  <p-fieldset legend="Dientes" [toggleable]="true">
    <img class="fs-img" src="assets/cat-teeth.jpg" />
    <p>
      Los dientes del gato se adaptan a tres funciones: apuñalar ( caninos ),
      anclar (caninos) y cortar (molares). Los gatos no tienen dientes
      aplastantes de corona plana y, por lo tanto, no pueden masticar su comida;
      en cambio, lo cortaron. A excepción de los caninos y molares, los dientes
      del gato son más o menos funcionales; la mayoría de los dientes de las
      mejillas ni siquiera se unen cuando la boca está cerrada. La fórmula
      dental en todos los gatos, para ambos lados de la mandíbula superior e
      inferior., son incisivos 3/3, caninos 1/1, premolares 3/2 y molares 1/1.
    </p>
    <p>
      El número total de dientes es 16 en el maxilar superior y 14 en el
      inferior. Dientes primarios o de leche número 24; estos son reemplazados
      por los dientes permanentes aproximadamente a los cinco meses. Cada mitad
      de la mandíbula está sujeta al cráneo mediante un rodillo transversal que
      encaja firmemente en un canal en la parte inferior del cráneo, lo que hace
      que los movimientos de rechinamiento sean imposibles incluso si el gato
      tenía dientes adecuados para rechinar.
    </p>
  </p-fieldset>
  <p-fieldset legend="Garras" [toggleable]="true">
    <img class="fs-img" src="assets/cat-claw.jpg" />
    <p>
      Hay un mecanismo notable para retraer las garras del gato cuando no están
      en uso. La garra se retrae o se extiende girando el hueso del extremo del
      dedo del pie, que lleva la garra, sobre la punta del siguiente hueso. La
      acción que desenvaina las garras también extiende los dedos de los pies
      ampliamente, haciendo que el pie sea más del doble de ancho de lo que es
      normalmente y convirtiéndolo en un arma verdaderamente formidable. Este
      mecanismo de revestimiento de garras está presente en todas las especies
      de la familia de los gatos, excepto en el guepardo. Aunque no hay
      terminaciones nerviosas en la uña, los capilares sanguíneos están
      presentes en la parte interna
    </p>
  </p-fieldset>

  <p-fieldset legend="Sentidos" [toggleable]="true">
    <img class="fs-img" src="assets/cat-sense.jpg" />
    <p>
      Los gatos son generalmente nocturna en hábito . La retina del ojo de gato
      se vuelve más sensible a la luz por una capa de guanina , que hace que el
      ojo brille por la noche con una luz intensa. Los ojos mismos, grandes con
      pupilas que se expanden o contraen hasta convertirse en simples rendijas
      según la densidad de la luz, no distinguen los colores con claridad. Los
      gatos tienen un tercer párpado o membrana nictitante, comúnmente
      llamadabaya de espino. Su apariencia se utiliza con frecuencia como
      indicador del estado de salud general del gato
    </p>
  </p-fieldset>
  <p>
    El sentido del tacto es agudo en los gatos. Las cejas, bigotes, pelos de las
    mejillas y finos mechones de pelo en las orejas son todos extremadamente
    sensibles a la estimulación vibratoria . Las funciones de los bigotes
    (vibrissae ) se entienden solo parcialmente; sin embargo, se sabe que, si se
    cortan, el gato queda temporalmente incapacitado. Los dedos de los pies y
    las patas, así como la punta de la nariz, también son muy sensibles al
    tacto.
  </p>
  <p>
    Los gatos también tienen un agudo sentido del oído. Sus orejas contienen
    casi 30 músculos (en comparación con 6 en los humanos); como resultado,
    pueden girarlos muchas veces más rápidamente en la dirección de un sonido
    que un perro . Los oídos de los gatos son receptivos a frecuencias
    ultrasónicas de hasta 85.000 vibraciones por segundo, superando con creces
    la capacidad auditiva de los perros, que registran 35.000 vibraciones por
    segundo.
  </p>
</div>
