<div class="hero-img">
  <div class="hero-txt">
    <h1 class="scalein animation-duration-500 animation-iteration-1">
      El Comportamiento Del Gato
    </h1>
  </div>
</div>

<div class="pagebody">
  <p-scrollTop></p-scrollTop>
  <p-divider></p-divider>
  <p-tabView>
    <p-tabPanel header="Rasgos especiales">
      <p-card
        [style]="{ width: '360px' }"
        styleClass="p-card-shadow"
        class="img-ini2"
      >
        <ng-template pTemplate="header">
          <img alt="card image" src="assets/mother-cat-kitten.jpg" />
        </ng-template>
      </p-card>
      <p>
        El gato tiene un repertorio sutil de expresiones faciales, sonidos
        vocales y posturas de la cola y el cuerpo que expresan su estado
        emocional e intenciones. Estas diversas señales sirven para aumentar,
        disminuir o mantener la distancia social. Un comportamiento social
        distintivo implica frotar el costado de la cabeza, los labios, la
        barbilla o la cola contra el propietario y contra los muebles . Estas
        regiones del cuerpo del gato contienenglándulas olfativas que parecen
        desempeñar un papel en el establecimiento de un olor familiar en el
        entorno del gato.
      </p>
      <p>
        La lengua de todos los gatos, que tiene un parche de espinas afiladas
        dirigidas hacia atrás llamadas papilas filiformes cerca de la punta,
        tiene la apariencia y el tacto de una lima burda; las espinas ayudan al
        gato aarreglarse a sí mismo. La disposición a la limpieza está bien
        establecida en los gatos y se acicalan en profundidad, especialmente
        después de las comidas.
      </p>
      <p>
        Mientras los leones y otros grandes felinos rugen, los gatos domésticos
        y otras especies de Felis ronronean. El ronroneo se ha descrito como un
        zumbido bajo, continuo y estrepitoso la cual a menudo, se interpreta
        como una expresión de placer o satisfacción. Sin embargo, el ronroneo
        también ocurre en gatos que están heridos y con dolor, por lo que esta
        vocalización puede verse como el "mantra" del gato, es decir, como un
        sonido relajante, reconfortante y una señal amistosa que transmite el
        estado de ánimo.
      </p>
    </p-tabPanel>
    <p-tabPanel header="Problemas de comportamiento">
      <p-card
        [style]="{ width: '360px' }"
        styleClass="p-card-shadow"
        class="img-ini"
      >
        <ng-template pTemplate="header">
          <img alt="card image" src="assets/cat-fierce.jpg" />
        </ng-template>
      </p-card>
      <p>
        En condiciones de domesticación, el gato está sujeto a una variedad de
        factores que dan como resultado un comportamiento indicativo de angustia
        emocional y dificultad para adaptarse al entorno del hogar. Algunos
        comportamientos no son anormales pero son difíciles de aceptar para los
        propietarios.
      </p>
      <p>
        El problema de comportamiento más común en los gatos de compañía es que
        a veces orinan y defecan fuera de la caja de arena de la casa. Las
        causas orgánicas incluyen síndrome urológico felino (inflamación de la
        vejiga urinaria y cálculos, o cálculos, en el tracto urinario),
        glándulas anales bloqueadas o impactadas y estreñimiento. Las causas
        emocionales incluyen la incorporación de un nuevo miembro de la familia:
        otro gato, un hijo o un cónyuge. Tales cambios pueden hacer que el gato
        se sienta inseguro, de modo que deposite orina y heces por la casa,
        posiblemente como marcas territoriales de seguridad. Los gatos son
        criaturas de hábitosy cualquier cambio en la estructura familiar o en
        las rutinas diarias, como resultado, por ejemplo, de una mudanza o
        incluso de reorganizar los muebles, puede ser estresante.
      </p>
      <p>
        Otro problema de comportamiento común en los gatos es su deseo natural
        de rastrillar objetos como cortinas y muebles con sus garras. La
        extracción quirúrgica de las garras delanteras para evitar daños
        materiales suele repugnar a los amantes de los gatos. Se puede entrenar
        a los gatos para que utilicen postes alfombrados para rascar en la casa
        para satisfacer esta necesidad de comportamiento, que puede ser una
        combinación de limpieza y afilado de uñas y de marcación territorial.
      </p>
      <p>
        Muchos gatos se dedican a lamer socialmente y al cuidado de sus
        compañeros felinos y humanos, lo cual es una muestra natural de afecto y
        dependencia. Algunos también se involucran en el comportamiento de
        amamantar, chupando los dedos y los lóbulos de las orejas de las
        personas, sus propias patas y colas, y mantas y ropa de lana. Amamantar
        puede ser la forma en que un gato retrocede y se relaja en un
        comportamiento de gatito. A menudo es más intenso en gatos destetados
        demasiado pronto o en aquellos que están desnutridos en la infancia. Por
        diversas razones emocionales, algunos gatos pueden acicalarse hasta el
        punto de la automutilación o convertirse en chupadores y comedores
        compulsivos de lana.
      </p>
      <p>
        Por lo tanto, los cambios en el comportamiento de los animales no deben
        descartarse como psicológicos (o como una simple desobediencia, como
        cuando un gato de repente deja de ser domesticado, por ejemplo), ya que
        puede haber una causa física subyacente. Sin embargo, el comportamiento
        anormal en los animales a menudo tiene un origen no físico, psicológico
        o emocional, que siempre debe considerarse en el diagnóstico y
        tratamiento de las dolencias de los animales de compañía.
      </p>
    </p-tabPanel>
    <p-tabPanel header="Otros rasgos">
      <p-card
        [style]="{ width: '360px' }"
        styleClass="p-card-shadow"
        class="img-ini2"
      >
        <ng-template pTemplate="header">
          <img alt="card image" src="assets/cat-mixedbreed.jpg" />
        </ng-template>
      </p-card>
      <p>
        Los patrones de sueño del gato son diferentes a los de los perros y los
        humanos. Los perros y los humanos tienen largos períodos de sueño REM
        (movimiento ocular rápido), la etapa que se asocia con los sueños. Por
        el contrario, el gato rara vez entra en el sueño REM. En cambio, tiene
        un patrón de sueño más ligero y episódico que le permite descansar pero
        estar alerta al instante. Cuando están enfermos, los gatos tienden a
        retraerse y volverse inactivos, lo que les ayuda a conservar energía. Un
        gato enfermo puede parecer sin vida, pero se recupera después de unos
        días de abstinencia, que es una de las razones por las que se dice que
        los gatos tienen nueve vidas. (Sin embargo, un gato enfermo siempre debe
        ser llevado a un veterinario; es negligente simplemente dejar que la
        naturaleza siga su curso).
      </p>
      <p>
        Se sabe que los gatos han viajado cientos de millas para encontrar a sus
        dueños en nuevos hogares en los que ellos mismos nunca han estado. Los
        perros también han realizado tales hazañas de las llamadaspsi (psíquico)
        al final. Los científicos no han podido encontrar una explicación
        fisiológica o psicológica para esta capacidad.
      </p>
    </p-tabPanel>
  </p-tabView>
</div>
