<div class="hero-img">
  <div class="hero-txt">
    <h1>Las Diferentes Razas Del Gato</h1>
  </div>
</div>

<div class="pagebody">
  <p-divider></p-divider>
  <p>
    La cantidad de razas de exhibición reconocidas que han definido
    características heredadas ha aumentado dramáticamente desde finales de la
    década de 1950 a medida que los gatos se han vuelto más populares como
    compañeros de casa. Las 30 a 40 razas distintivas se pueden agrupar en dos
    categorías generales: la persa de pelo largo y la de pelo corto doméstico.
    Ambas razas se presentan en varias subcategorías según el color de su
    pelaje, como blanco, crema, chinchilla (o plateado), ahumado, carey y
    atigrado (rojo, azul, etc.). Otras razas distintivas y populares incluyen el
    siamés (con variaciones de color de punto de sello, punto azul, punto de
    chocolate y punto lila), el Himalaya de pelo largo , que se asemeja al
    siamés en coloración, y el abisinio , birmano., Manx , Rex y Russian Blue
  </p>
</div>
