/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
p {
  text-align: justify;
  font-size: 20px;
}

.img-ini {
  float: left;
  margin: 1rem;
}
.img-ini2 {
  float: right;
  margin: 1rem;
}

.fs-img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pagebody {
  margin: 0 100px 0 100px;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap");
@font-face {
  font-family: Regis-Semi;
  src: url("assets/Regis-Semi Bold.ttf");
}
.hero-img1 {
  background-image: url(assets/cat-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-img2 {
  background-image: url(assets/cat-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-txt {
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  color: white;
  padding: 35vh 0 35vh 0;
  font-family: "Regis-Semi", serif;
}
