/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.pagebody {
  margin: 0 100px 0 100px;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap");

.hero-img {
  background-image: url(assets/cat-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-txt {
  text-align: center;
  font-size: 36px;
  color: white;
  padding: 5rem 0 5rem 0;
}
